---
// Importation des modules nécessaires
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/common/Button.astro";
import { PrismaClient } from "@prisma/client";

// Création d'une instance PrismaClient
const prisma = new PrismaClient();
const mealId = Astro.params.id;

if (Astro.request.method === "POST") {
  try {
    // Suppression du repas en utilisant Prisma
    await prisma.meal.delete({
      where: {
        id: +mealId!,
      },
    });
    return Astro.redirect("/");
  } catch (error) {
    console.error("Erreur lors de la suppression du repas :", error);
    return new Response(null, {
      status: 500,
      statusText: "Erreur serveur",
    });
  }
}

// Récupération du repas depuis la base de données
let meal;
try {
  meal = await prisma.meal.findUnique({
    where: {
      id: +mealId!,
    },
  });
} catch (error) {
  console.error("Erreur lors de la récupération du repas :", error);
  return new Response(null, {
    status: 500,
    statusText: "Erreur serveur",
  });
}

if (!meal) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

// Extraction des détails du repas
const { title, description, image, imageAlt, authorName } = meal;

// Assurez-vous que `authorName` est récupéré directement depuis Meal
---

<Layout title="Datail du plat">
  <h1>{title}</h1>
  <img src={image} alt={imageAlt} />
  <p class="paragraph">{description}</p>
  <p class="paragraphe">
    Auteur:{authorName}
  </p>
  <form method="POST">
    <Button type="submit">Supprimer</Button>
  </form>
</Layout>

<style>
  img {
    max-width: 320px;
    object-fit: cover;
    border-radius: 1.8rem;
  }
</style>
